@import url("./verdict-colors.css");

.letter {
    color: white;
    display: inline-block;
    margin-right: 0.1em;
    width: 1em;
    height: 1.2em;
    text-align: center;
    vertical-align: middle;
    border: solid 1px transparent;
}

.letter-0 {
    background-color: var(--color-verdict-0);
}

.letter-1 {
    background-color: var(--color-verdict-1);
}

.letter-2 {
    background-color: var(--color-verdict-2);
}

.letter-3 {
    background-color: transparent;
    border-color: rgb(211, 214, 218);
    color: black;
}
