body {
  font-family: system-ui, -apple-system, sans-serif;
}

h1 {
  margin: 0.2em 0;
}

button {
  border: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0.2em 0.4em;
}

button:not([disabled]) {
  cursor: pointer;
}
